.Website {
  display: flex;
  padding: 0 72px;
  margin: 0 auto;
  align-items: flex-start;
  margin-top: 72px;
  max-width: 1200px;
}

.Website__preview {
  flex: 1 0 50%;
  margin-right: 48px;
}

.Website__content {
  flex: 1 1 50%;
  max-width: 500px;
  margin: 0 auto;
}

.Website h6 {
  margin: 0;
  line-height: 1.5;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.Website p {
  font-size: 0.8rem;
  line-height: 1.5;
}

.Website .label {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.Website h4 {
  margin: 0;
}

.Website .lead {
  font-size: 0.8rem;
}
