.Website {
  display: flex;
  padding: 0 72px;
  margin: 0 auto;
  align-items: flex-start;
  margin-top: 72px;
  max-width: 1200px;
}

.Website__preview {
  flex: 1 0 50%;
  margin-right: 48px;
}

.Website__content {
  flex: 1 1 50%;
  max-width: 500px;
  margin: 0 auto;
}

.Website h6 {
  margin: 0;
  line-height: 1.5;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.Website p {
  line-height: 1.5;
}

.Website .label {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.Website .label a {
  background: var(--link-color);
  color: white;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 4px 10px;

  letter-spacing: 0.07em;
}

.Website .label > div {
  display: flex;
  align-items: center;
}

.Website h4 {
  margin: 0;
  margin-right: 1rem;
}

.Website .lead {
}
