.Blog-index article {
  display: flex;
  line-height: 1.75;
  max-width: 600px;
  margin: 0 auto;
}
.Blog-index {
  line-height: 1.75;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 150px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.Blog-index header {
  flex: 1;
  padding-right: 2rem;
}

.Blog-index h6 {
  margin-bottom: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

.Blog-index article {
  padding: 0.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.Blog-index__head {
  padding: 0.5rem 0;

  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
}

.Blog-index p {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.75;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}
