.Index-cover {
  height: 50px;
  position: relative;
}

.Index-cover:after {
  position: absolute;
  bottom: 0;
  content: '';
  background-size: cover;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewbox='0 0 100 25'%3e%3cpath fill='%239EAFFD' opacity='0.5' d='M0 30 V15 Q30 3 60 15 V30z' /%3e%3cpath fill='%239EAFFD' d='M0 30 V12 Q30 17 55 12 T100 11 V30z' /%3e%3c/svg%3e");
}

.Index__lists {
  display: block;
  padding: 100px 0;
  padding-top: 50px;
  background-size: cover;
  /* box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1); */
}

.Index__websites {
  padding-bottom: 2rem;
}

.Index__center-header {
  text-align: center;
  margin: 2rem 0;
}

.Index__show_more {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: none;
  color: white;
  border-radius: 16px;
  text-decoration: none;
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.Index__show_more:focus {
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.4);
}

.Index__show_more:hover {
  background: rgba(255, 255, 255, 0.2);
}

.Index__show-more-container {
  margin-top: 1.5rem;
  text-align: center;
}

.Index__contact {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 72px;
  max-width: 1000px;
  padding-bottom: 72px;
}

.Index__contact img {
  display: none;
}

.Index__contact > div {
  display: block;
  margin: 0 auto;
}

.Index__contact-social {
  max-width: 500px;
  margin: 0 auto;
}

.Index__lists .ListSummary:first-child {
  margin-bottom: 3rem;
}

.Index__contact-boxes > * {
  margin: 0 auto;
  padding: 0 1.25rem;
}

.Index .Contact {
  margin-top: 1.5rem;
}

.Index__success {
  text-align: center;
  overflow: hidden;
  color: white;
  border-radius: 2em;
  background-color: black;
  font-weight: bold;
  font-size: 1.25rem;
}

.Index__success button {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
  margin-top: 1rem;
}

.Index__success > div:first-child {
  height: 150px;
  background-size: cover;
  margin-bottom: 0;
}

.Index__success > div:last-child {
  padding: 2rem;
}

[data-reach-dialog-overlay] {
  background: #000000ba;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4000;
}

[data-reach-dialog-content] {
  text-align: center;
  padding: 3rem;
  outline: none;
}

.Index__coffee {
  position: absolute;
  top: -3rem;
  right: 100px;
  display: none;
}

.Index__coffee .Hint {
  position: absolute;
  left: 0%;
  -webkit-transform: rotate(90deg) scale(1, -1);
  transform: rotate(180deg) scale(1, -1);
  z-index: 3333;
  top: -50px;
}

#portfolio {
  position: relative;
}

@media (min-width: 992px) {
  .Index__contact img {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .Index__success {
    display: inline-block;
  }

  .Index__lists {
  }

  .Index__contact-boxes {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .Index__contact-boxes > * {
    flex: 1 1 50%;
  }

  .Index .Contact {
    margin-top: 0;
  }

  .Index__center-header {
    margin: 3rem 0;
  }

  .Index__coffee {
    display: block;
  }
}

@media (min-width: 992px) {
  .Index__coffee {
    right: 22%;
  }
}
