.Index-cover {
  height: 50px;
  position: relative;
}

.Index-cover:after {
  position: absolute;
  bottom: 0;
  content: '';
  background-size: cover;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewbox='0 0 100 25'%3e%3cpath fill='%239EAFFD' opacity='0.5' d='M0 30 V15 Q30 3 60 15 V30z' /%3e%3cpath fill='%239EAFFD' d='M0 30 V12 Q30 17 55 12 T100 11 V30z' /%3e%3c/svg%3e");
}

.Index__lists {
  display: flex;
  padding: 72px 0;
  padding-top: 150px;
  background-size: cover;
}

.Index__websites {
  padding-bottom: 72px;
}

.Index__show_more {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  box-shadow: none;
  color: white;
  border-radius: 16px;
  text-decoration: none;
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.Index__show_more:focus {
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.4);
}

.Index__show_more:hover {
  background: rgba(255, 255, 255, 0.2);
}

.Index__show-more-container {
  margin-top: 1rem;
  text-align: center;
}
