.Contact {
  flex: 1 1 50%;
  max-width: 400px;
  margin: 0 auto;
}
.Contact input[type='text'],
.Contact input[type='email'],
.Contact textarea {
  outline: none;
  border: none;
  border-radius: 3px;

  background: #eaeaf0;
  height: 38px;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;

  font-size: 14px;
  width: 100%;
  font-weight: 400;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Contact textarea {
  height: 150px;
}

.Contact label {
  display: block;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.Contact .field {
  margin-bottom: 1rem;
}

.Contact input[type='submit'] {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
  background: #5f617c;
  border: none;
  box-shadow: none;
  color: white;
  border-radius: 16px;
  text-decoration: none;
  padding: 8px 20px;
  outline: none;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 600;
}
