.LeftArrow {
  height: 100px;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  z-index: 500;
  left: 0;
}

.LeftArrow path {
  fill: white;
}

.Diagnol polygon {
  fill: white;
}

.LeftArrow-clouds {
  min-width: 1200px;
  fill: white;
}

.LeftArrow.top {
  bottom: 100%;
  top: 0;
  bottom: unset;
  transform: rotate(180deg);
}
