.InteractiveHeadline--lead {
  font-size: 1.25rem;
  font-weight: normal;
  padding: 0 1.5rem;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.InteractiveHeadline--lead > div:last-child {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.InteractiveHeadline--lead img {
  width: 75px;
  height: 75px;
  margin: 0;
  border-radius: 50%;
}

.Header {
  background-color: #26484f;
}

.Header__background {
  display: none;
}

@media (max-width: 500px) {
  .Header .BackgroundVideo {
    display: none;
  }

  .Header__background {
    display: block;
  }
}
