.ListItem {
  transform: scale(1);
  transition: transform 0.1s linear;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffffde;
  -webkit-tap-highlight-color: transparent;
  /* box-shadow: 0px 0 10px #00000026; */
  border-radius: 8px;
  margin-bottom: 2px;
  text-decoration: none;
  color: inherit;
}

@media (hover: hover) {
  .ListItem:hover {
    transform: scale(0.97);
  }
}

.ListItem strong {
  color: var(--link-color);
  text-decoration: none;
  font-family: var(--heading-font);
  font-weight: 600;
}
