.ListSummary {
  max-width: 425px;
  margin: 0 1.5rem;
  flex: 1 1 100%;
}

.ListSummary__intro {
  margin-bottom: 1.5rem;
  text-align: center;
}

.ListSummary__intro a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.ListSummary h4 {
  display: inline-block;
}
