.ListSummary {
  margin: 0 auto;
  flex: 1 1 100%;
  overflow-x: scroll;

  margin-block-end: 1.5rem;
  padding-bottom: 1.5rem;
}

.ListSummary::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.ListSummary__intro {
  margin-bottom: 1.5rem;
  text-align: center;
}

.ListSummary__intro a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.ListSummary h4 {
  display: inline-block;
}

.ListSummary__container {
  min-width: 1800px;
  display: flex;
}

@media only screen and (min-width: 480px) {
  .ListSummary {
    padding: 0 1.5rem;
  }
}
