.ListSummary {
  max-width: 400px;
  margin: 0 auto;
  flex: 1 1 100%;
  line-height: 1.5;
}

.ListSummary__intro {
  margin-bottom: 1.5rem;
  text-align: center;
}

.ListSummary__intro a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.ListSummary h4 {
  background: white;
  display: inline-block;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 0 10px #00000026;
}
