.CanvasController {
  position: relative;
  overflow: hidden;
  touch-action: none;
}

.CanvasController__canvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
